body {
    background-image: url('../images/bg-pattern.svg');
    background-repeat: no-repeat;
    background-color:  hsl(230, 100%, 99%);
  }

.header {
    margin: auto;
    padding: 50px;
    height: 150px;
    /* margin-bottom: 100px; */
    background-image:url('../images/pattern-circles.svg');
    /* background-attachment: fixed; */
    /* background-position: 0px 0px; */
    background-repeat: no-repeat;
    background-position:center;
}

.header h1 {
    margin-top: 30px;
    text-align: center;
    font-family: Manrope;
    font-weight: 800;
    font-size: 30px;
    color: hsl(227, 35%, 25%);
    margin-bottom: -7px;
    white-space: nowrap;
}

.header p {
    text-align: center;
    font-family: Manrope;
    font-weight: 600;
    font-size: 15px;
    color: hsl(225, 20%, 60%);
    opacity: 75%;
}

.header-child {
    margin-bottom: -15px;
}

.main-container {
    margin: auto;
    width: 80%;
    border-radius: 9px;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main-container p {
    text-align: center;
    font-family: Manrope;
    font-size: 15px;
    font-weight: 300;
    color: hsl(225, 20%, 60%);
}

.range-container {
    text-align: center;
    margin: auto;
}

.range-slider {
    -webkit-appearance: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    background: linear-gradient(90deg, hsl(174, 77%, 80%) 50%, hsl(224, 65%, 95%) 50%);
    width: 90%;
    border-radius: 5px;
    height: 10px;
    outline: none;
    margin-bottom: 20px;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url('../images/icon-slider.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: hsl(174, 86%, 45%);
    box-shadow: 1px 10px 25px 1px hsl(174, 86%, 45%);
}

.range-slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    cursor: pointer;
    background-image: url('../images/icon-slider.svg');
}

.main-container-bottom {
    position: relative;
}

.icon-check {
    margin-top: 5px;
    float: left;
}

#button-container {
    text-align: center;
}

#dollar-amount {
    font-size: 30px;
    font-weight: 800;
    color: hsl(227, 35%, 25%);
}

#start-trial-button {
    width: 60%;
    height: 33px;
    display: inline-block;
    margin: 0 0.3em 0.3em 0;
    box-sizing: border-box;
    border-radius: 2em;
    padding: 0.3em 1.2em;
    font-size: 11px;
    font-weight: 300;
    color: hsl(226, 100%, 87%);
    background-color: hsl(227, 35%, 25%);
    border: none;
}

#start-trial-button:focus {
    outline: 0;
}

#range {

}
